@import "./variables";

a:link,
a:visited {
    color: #1E88E5;
    text-decoration: none;
}

.github {
    $_side_padding: 16px;
    width: $size_px - 2*$_side_padding;
    margin: 32px auto 0 auto;
    text-align: center;
    padding: 24px $_side_padding;
    font-size: 14px;
    color: rgba(0,0,0,.35);

    hr {
        height: 1px;
        border: none;
        margin: 1em 0;
        background-color: #ddd;
    }
}
