.pageSlider.simple {
    .page {
        background: #fff;
    }
    .card-page .content {
        background-color: #1A237E;
        
        .card {
            border: none;
        }
    }
    img.media-object.avatar {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        background-size: cover;
    }
    .github {
        width: auto;
    }
}
